ragatouille
beautifulsoup4
duckduckgo_search
autoawq
byaldi
diffusers
sentencepiece
elevenlabs
anthropic

markitdown[all]

# bots
discord

# for embedding stuff
lancedb
pylance
tantivy

# for console stuff
rich
readchar

# for topic modeling
#bertopic
#datasets
